*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/temp/test_invalid_external.db
/presentation/androidui/src/main/java/eu/kalnarapps/kalnardict/androidui/dictionarymanager/BlankFragment.kt
/presentation/androidui/src/main/java/eu/kalnarapps/kalnardict/androidui/dictionarymanager/DicitonaryManagerKoinModule.kt
/app/src/main/res/navigation/main_nav_graph.xml
/notes/tags
*.swp
temp/
/projectFilesBackup/.idea/workspace.xml
